/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* MainPage */
#inputZone{
	-fx-font-size:18px;
	-fx-font-weight:lighter;	
	-fx-font-family: "Georgia";
	
}


#bb{
	-fx-font-size:18px;
	-fx-font-weight: bold;
}

#paraInfo{
	-fx-font-size:29px;
}


#lb{
	-fx-font-size:20px;
}

/* MenuBarInitializer  */
#menuHeader{
	-fx-font-size:13px;
}

#menuItem{
	-fx-font-size:13px;
}
