/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* MainPage */
#inputZone{
	-fx-font-size:18px;
	-fx-font-weight:lighter;	
	-fx-font-family: "Georgia";
	
}
#codeArea{
	-fx-font-size:18px;
	-fx-background-color: white, white;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-color: black;
    
}
.spell-error {
    /*-fx-effect: dropshadow(gaussian, red, 2, 0, 0, 0);*/
    -fx-fill:red;
    -fx-font-size:18px;
	-fx-background-color: white, white;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-color: black;
}

.spell-errorClicked{
	-fx-fill:red;
    -fx-font-size:18px;
	-fx-background-color: white, white;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-color: black;
    -fx-font-weight:bold;
}

#bb{
	-fx-font-size:18px;
	-fx-font-weight: bold;
}

#paraInfo{
	-fx-font-size:29px;
}


#lb{
	-fx-font-size:20px;
}

/* MenuBarInitializer  */
#menuHeader{
	-fx-font-size:13px;
}

#menuItem{
	-fx-font-size:13px;
}
