/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#inputZone{
	-fx-font-size:15px;
	
	
}


#bb{
	-fx-font-size:19px;
	-fx-font-weight: bold;
}

#paraInfo{
	-fx-font-size:30px;
}

